@import "../../common/styles.scss";

.timer-select-btn {
  margin: 10px;
  background: none;
  border: none;

  padding: 0;
  font-family: $main-font;
  color: darken($text-color, 30%);
  cursor: pointer;
}

.timer-selected-btn {
  @extend .timer-select-btn;

  color: $text-color;
  border-bottom: 1px solid $text-color;
  padding-bottom: 5px;
}

.round-btn {
  font: normal normal 300 18px $main-font;
  text-decoration: none;

  color: $text-color;
  background-color: $complementary-color;
  border: 1px solid $complementary-color;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;

  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    $complementary-color 50%,
    transparent 50%
  );
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;

  &:hover {
    background-color: transparent;
    background-position: -100% 100%;
  }
}

.start-btn {
  @extend .round-btn;

  color: $text-color;
  background-color: $main-color;
  border: 1px solid $main-color;
  background-image: linear-gradient(to right, $main-color 50%, transparent 50%);

  &:hover {
    background-color: transparent;
    background-position: -100% 100%;
  }
}

.settings-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: flex-end;
  margin: 10px 20px 0px 0px;
}

.settings-icon {
  color: $complementary-color;
  font-size: 25px;
}
