@import "../../common/styles.scss";

.form {
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.error-message {
  color: $main-color;
  padding-top: 10px;
}
